.curso {
    opacity: .8;
    color: white;
    border-radius: .2vw;
}

.curso h3 {
    font-weight: 400;
    font-size: 1.15vw;
    padding-left: .2vw;
    padding-right: .2vw;
    margin: 0; /* Elimina el margen entre el h3 y otros elementos */
}

.curso p {
    opacity: 0.7;
    font-weight: bold;
    margin: .3vw; /* Elimina el margen entre el h3 y otros elementos */
    text-align: left;
    font-size: .85vw;
}

.curso-nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.curso-hora {
    height: 20%;
}

.visible {
    display: block;
}

.oculto {
    display: none;
}

@media screen and (max-width: 900px) {
    .curso p {
        font-size: 2vw;
    }

    .curso h3 {
        font-size: 2.7vw;
    }

    .curso {
        border-radius: .7vw;
    }
  }