.horas {
    background-color: lightgreen;
    position: relative;
    padding-left: .05vw;
    padding-right: .05vw;
    color: #535353;
    width: 6.5vw;
    height: 1.4vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .2vw;
  }
  
/* Ajuste de posiciones de las horas */
  .horas:nth-child(n+8) {
    grid-column: 1; 
}

@media screen and (max-width: 900px) {
  .horas {
      height: 6.5vw;
      font-size: 1.3vw;
      width: 5vw;
      border-radius: .7vw;
  }
}
  
