.dias {
    background-color: lightsteelblue;
    padding: .2vw;
    font-size: 1vw;
    color: #2e2e2e;
    border-radius: .2vw;
}

@media screen and (max-width: 900px) {
    .dias    {
        font-size: 2vw;
        border-radius: .5vw;
    }
  }