
.container-select {
    padding-bottom: .4vw;
    width: 9.5vw;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: .3vw;
}

.select-curso {
    padding: .1vw; /* Ajusta el padding como desees */
    font-size: .9vw;
    border: .1vw solid lightgreen;
    border-radius: .4vw;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    outline: none; /* Eliminar el contorno predeterminado */
    cursor: pointer;
    font-weight: 400;
    width: auto;
}

.nombre-curso {
    display: flex;
    justify-content: center;
    font-size: .75vw;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 1vw;
    font-weight: 400;
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    line-height: 1.3;
}

.select-curso option {
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .nombre-curso {
        font-size: 2vw;
    }

    .container-select {
        height: 10vw;
        width: 20vw;
        margin: .5vw;
    }

    .select-curso {
        font-size: 2vw;
    }
  }

